.customButton {
    border-radius: 8px;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid grey;
    border-bottom: 4px solid grey;
    min-width: 200px;
}

.customButton:hover {
    margin-top: 2px;
    border-bottom: 2px solid grey;
}

/* 
* TODO
* play with shadows & fill colors
 */